.team-container {
    text-align: center;
    padding-top: 10px;
}

.team-text {
    color: #0083BB;
    font-size: 45px;
    line-height: 1;
}

@media screen and (max-width: 309px) {
    .team-text {line-height: 1.25}
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    -webkit-justify-content: center;
}

@media screen and (max-width: 900px) {
    .grid-container{grid-template-columns: auto}
}

.grid-item {
    border: 1px solid black;
    padding: 0px 20px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    max-width: 386px;
    -webkit-max-width: 386px;

}

.grid-name {
    font-size: 30px;
    color: white;
    padding-bottom: 10px;
}

.grid-pictures {
    width: 200px;
}

.grid-header {
    color: #0083BB;
    padding-top: 10px;
    font-size: 20px;
}

.grid-text {
    font-size: 13px;
    line-height: 1.5;
    color: #c6c6c6;
}
